*{
    margin: 0px;
    padding: 0px;

}

body {
    font-family:'Oswald';
    margin: 0;
    padding: 0;
    background-color: #1E1E2E;
    color: #FFFFFF;
    flex-direction: column;
}

header {
    background-color: #7B5CFA;
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

p {
    margin: 15px;
    line-height: 1.5;
}

h2 {
    margin-left: 15px;
    color: #00E5A0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #00E5A0;
}

footer {
    background-color: #7B5CFA; 
    color: #000000;            
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    margin-top: auto;          
    width: 100%;
}

table.container-table {
    margin: 20px auto;       
    border-collapse: collapse;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 15px;
}

li {
    margin: 8px 0;
}

table.container-table th,
table.container-table td {
    border: 5px solid #7B5CFA;
    padding: 8px 12px;
}

