:root {
    --azul-cosmos: #1E1E2E;
    --violeta-electrico: #7B5CFA;
    --verde-glitch: #00E5A0;
    --blanco: #FFFFFF;
    --fuente-titulos: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #10101a; 
    color: var(--verde-glitch);
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}