:root {
    --azul-cosmos: #1E1E2E;
    --violeta-electrico: #7B5CFA;
    --verde-glitch: #00E5A0;
    --blanco: #FFFFFF;
    --fuente-titulos: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--azul-cosmos); 
    color: var(--verde-glitch);
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--azul-cosmos);
    border: 2px solid var(--verde-glitch);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px var(--verde-glitch); 
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h1 {
    font-family: var(--fuente-titulos);
    color: var(--violeta-electrico); 
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 10px var(--violeta-electrico);
    font-size: 3em; 
    letter-spacing: 1px;
}

input[type="text"] {
    background-color: #10101a; 
    border: 1px solid var(--verde-glitch);
    border-radius: 5px;
    padding: 12px 15px;
    color: var(--verde-glitch);
    font-family: var(--fuente-titulos);
    font-size: 1.2em;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    box-shadow: 0 0 5px var(--verde-glitch);
    transition: all 0.3s ease;
}

input[type="text"]::placeholder {
    color: rgba(0, 229, 160, 0.7); 
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--violeta-electrico); 
    box-shadow: 0 0 15px var(--violeta-electrico);
}

button {
    background-color: var(--verde-glitch);
    color: var(--azul-cosmos); 
    border: none;
    border-radius: 5px;
    padding: 25px;
    font-family: var(--fuente-titulos);
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 0 10px var(--verde-glitch);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase; 
}

button:hover {
    background-color: var(--violeta-electrico);
    color: var(--blanco);
    box-shadow: 0 0 15px var(--violeta-electrico);
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer button {
    width: auto;
    background-color: transparent;
    color: #4d4dff;
    border: solid #4d4dff;
}

footer button:hover {
    background-color: #4d4dff;
    color: #ffffff;
}
